<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58561963441-646snkkptpmes6aqhdcg1ki75pflvao7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58561963441-646snkkptpmes6aqhdcg1ki75pflvao7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>58561963441-u0mcn29l92vufbfv3djdu1mtp8do8n83.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0bjzmSeFl-CrQS3425iNfDBBbH_xvAWc</string>
	<key>GCM_SENDER_ID</key>
	<string>58561963441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kraina.app</string>
	<key>PROJECT_ID</key>
	<string>kraina-207c5</string>
	<key>STORAGE_BUCKET</key>
	<string>kraina-207c5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58561963441:ios:646snkkptpmes6aqhdcg1ki75pflvao7</string>
</dict>
</plist>
